params {
	repsProcessA = 10
	processATimeRange = "1-2"

	processBTimeRange = "2-3"
	processBWriteToDiskMb = 10
}

process {
	container = "ubuntu:18.10"
	executor = executor = 'google-lifesciences'

	withName: processA {
		cpus: 1
		memory = "3.Gb"
	}

	withName: processB {
		machineType = "n1-standard-1"
	}
}

google {
  lifeSciences.bootDiskSize = '10 GB'
  lifeSciences.preemptible = true
  region = 'europe-west2'
}

