params {
	s3Location = 's3://lifebit-featured-datasets/pipelines/spammer-nf/input_files'
	repsProcessA = 10
	processATimeRange = "1-2"
	filesProcessA = 1
	processATimeBetweenFileCreationInSecs = 0

	processBTimeRange = "2-3"
	processBWriteToDiskMb = 10

	processCTimeRange = "2-3"
	processDTimeRange = "2-3"

	output = "results"
}

withName: processA {
	cpus =  1
}

docker.enabled = true

process {
	containerOptions = "-v /etc/ssl:/etc/ssl -v /usr/local/share/ca-certificates:/usr/local/share/ca-certificates"
	container = "quay.io/lifebitai/ubuntu:18.10"
}



