docker.enabled = true

params {
	s3Location = 's3://lifebit-featured-datasets/pipelines/spammer-nf/input_files'
	fileSuffix = ''
	repsProcessA = 10
	processAWriteToDiskMb = 10
	processATimeRange = "1-2"
	filesProcessA = 1
	processATimeBetweenFileCreationInSecs = 0

	processBTimeRange = "2-3"
	processBWriteToDiskMb = 10

	processCTimeRange = "2-3"
	processDTimeRange = "2-3"
	output = "results"
	
	echo = false
        cpus = 1
	processA_cpus = 1
	errorStrategy = 'ignore'
        container = 'quay.io/lifebitai/ubuntu:18.10'
        maxForks = 200
	
	queueSize = 200
	executor = 'ignite'	
    }

process {
    echo = params.echo
    cpus = params.cpus
    maxForks = params.maxForks
    container = params.container
    errorStrategy = params.errorStrategy

    withName: processA {
	cpus = params.processA_cpus
	}
    }

executor {
    name = params.executor
    queueSize = params.queueSize
    }
