params {
  executor = 'awsbatch'
  dataLocation = 's3://lifebit-featured-datasets/pipelines/spammer-nf/input_files'
  aws_batch_cliPath = '~/miniconda/bin/aws'
  aws_batch_fetchInstanceType = true
  aws_batch_process_queue = "nf-batch-4"
  aws_batch_docker_run_options = "--ulimit nofile=65535:65535 --ulimit nproc=65535 --user 0"
}

docker {
    enabled = true
    runOptions = params.aws_batch_docker_run_options
}

process {
      queue = params.aws_batch_process_queue
}

aws.batch.cliPath = params.aws_batch_cliPath
aws.batch.fetchInstanceType = params.aws_batch_fetchInstanceType
